.s-header {
    display: flex;
    background: #ffffff !important;
    padding-inline: 0px !important;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.search {
    display: flex !important;
    justify-content: center;
    align-items: center;
}